.c-header {
  position: fixed;
  z-index: 10;
  top:0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.85);
  //background: linear-gradient(to bottom, rgba(0,0,0,1) 90%,rgba(0,0,0,0) 100%);
  backdrop-filter: blur(4px);

  & a {
    text-transform: uppercase;
    color:#fff;
    line-height: 1;
    text-decoration: none;
    display: inline-flex;

    &:hover {
      color:@color-red;
    }

    &.is-active {
      font-weight: bold;
      pointer-events: none;
      cursor: default;
      color:@color-red;
      text-decoration: none;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: @header_height;
    position: relative;
    gap:40px;

    @media screen and (max-width: 1200px) {
      height: @header_height_mobile;
    }
  }

  &__logo {
    &:extend(.c-logo);
    margin: 0 40px;

    @media screen and (max-width: 1200px) {
      margin: 0 20px 0 0;
    }


    & span {
      display: none;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    @media screen and (max-width: 1200px) {
      justify-content: flex-start;
    }

    & ul {
      display: flex;
        align-items: center;
      gap:40px;
      width: 100%;
        line-height: 1;

      @media screen and (max-width: 1200px) {
        display: none;
      }

      &:first-child {
        justify-content: flex-end;
      }

      & li {
        display: block;

          & .c-link--highlight {
              position: relative;
              top:-1px;

              @media screen and (max-width: 767px) {
                  top:auto;
              }
          }
      }

    }
  }

  &__contacts {
    position: absolute;
    top:10px;
    bottom: 10px;
    right: 0;
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: 1200px) {
      right: 50px;
    }

    @media screen and (max-width: 767px) {
      right: 45px;
      gap: 10px;
    }

    &__desktop {
      display: flex;
      align-items: center;
      gap: 20px;

      @media screen and (max-width: 1200px) {
        display: none;
      }
    }

    &__mobile {
      display: none;
      align-items: center;
      gap: 10px;

      @media screen and (max-width: 1200px) {
        display: flex;
      }
    }

    &__booking {
      max-width: 100px;
      display: none !important;
      align-items: center;
      white-space: break-spaces;
      text-align: center;
      justify-content: center;
      background: @color-red;
      padding: 5px 10px 4px;
      font-size: 10px;
      font-weight: 500;
      line-height: 1.2;
      color:#fff;

      &:hover {
        background: lighten(@color-red, 10%);
        color: #fff !important;
        text-decoration: none;
      }

      @media screen and (max-width: 1200px) {
        display: inline !important;
      }
    }
  }

  &__hamburger {
    display: none;
    position: relative;
    width: 24px;
    height: 20px;
    min-width: 24px;
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;


    @media screen and (max-width: 1200px) {
      display: block;
    }

    &:after {
      display: block;
      content: "\0020";
      position: absolute;
      top:50%;
      left: 0;
      right: 0;
      height: 2px;
      background: #fff;
      margin-top: -1px;
    }
  }

}
