.c-hero {
  position: relative;
  z-index: 1;
  background-size: 100% auto;
  background-position: top center;
  //background-image: url("../img/bg.webp");
  //background-attachment: fixed;
  //background-repeat: no-repeat;
  //padding-top: @header_height;
  padding-bottom: 70px;

  .is-safari & {
    background-attachment: scroll;
  }

  &:after {
    display: block;
    content: "\0020";
    position: absolute;
    z-index: 1;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 50vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
  }

    &__media {
        height: 73vh;
        position: sticky;
        top: @header_height;
        z-index: 1;
        overflow: hidden;

        @media screen and (max-width: 1200px) {
            top: @header_height_mobile;
        }

        @media screen and (max-width: 767px) {
          height: 80vh;
        }

        &:after {
            display: block;
            content: "\0020";
            position: absolute;
            z-index: 2;
            bottom: 0;
            left: 0;
            right: 0;
            height: 30vh;
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
        }

        & video {
            position: relative;
            z-index: 1;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            outline: none;
            user-select: none;
        }
    }

    & > .c-layout {
        position: relative;
        z-index: 2;
    }

  &__meta {
    //min-height: 80vh;
    position: relative;
    padding-top: 10px;
    z-index: 2;

      & .c-layout {
          position: relative;
          z-index: 3;
      }

      //&:before {
      //    display: block;
      //    content: "\0020";
      //    position: absolute;
      //    top:0;
      //    bottom: 0;
      //    left: 50%;
      //    width: 50%;
      //    max-width: 740px;
      //    z-index: 2;
      //    background-size: 100% auto;
      //    background-position: bottom center;
      //    background-repeat: no-repeat;
      //    background-image: url("../img/people.png");
      //
      //    @media screen and (max-width: 1200px) {
      //        left: 60%;
      //        width: 40%;
      //        background-position: center;
      //    }
      //
      //    @media screen and (max-width: 1023px) {
      //        display: none;
      //    }
      //}

      &:after {
          display: block;
          content: "\0020";
          position: absolute;
          z-index: 1;
          bottom: 0;
          left: 0;
          right: 0;
          height: 120%;
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 90%);
      }

  }

  &__logo {
    width: 100%;
    max-width: 1000px;
    margin: 6vh 0 0;

    @media screen and (max-width: 767px) {
      max-width: 300px;
      margin: 40px auto 0;
    }

    & img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0 auto;
    }
  }

  &__content {
    padding: 8vh 0;


    @media screen and (max-width: 767px) {
      padding: 40px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    font-size: 45px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 800px;

    @media screen and (max-width: 1023px) {
      font-size: 38px;
      text-align: center;
    }

    @media screen and (max-width: 767px) {
      font-size: 24px;
    }

    & span {
      color: @color-red;
    }
  }

  &__options {
    display: flex;
    gap:40px;
    padding: 20px 0 40px;
      max-width: 600px;

    @media screen and (max-width: 1023px) {
      justify-content: center;
    }

    @media screen and (max-width: 767px) {
      flex-direction: column;
      gap: 10px;
      margin: 0 auto;
      padding: 20px 0 5px;
    }


    & li {
      display: flex;
      align-items: center;
      position: relative;
      line-height: 1;
      font-size: 16px;

      &:before {
        display: block;
        content: "\0020";
        width: 10px;
        min-width: 10px;
        height: 10px;
        min-height: 10px;
        border-radius: 100%;
        margin-right: 10px;
        background: @color-red;
      }

      & a {
        color:#fff;
        text-decoration: none;

        &:hover {
          color:@color-red;
        }
      }
    }
  }

  &__actions {
    padding-top: 20px;
    display: flex;
    gap:20px;

    @media screen and (max-width: 1023px) {
      justify-content: center;
    }
  }

}


.c-hero__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    //
    //&__main {
    //
    //    .portrait & {
    //        display: none;
    //    }
    //}
    //
    //&__mobile {
    //
    //    display: none;
    //
    //    .portrait & {
    //        display: block;
    //    }
    //}

    &:after {
        content: '';
        transition: all .3s ease;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        z-index: 9;
    }

  &:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' viewBox='0 0 61 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.6875 37.6074C12.6875 42.2487 14.5314 46.7002 17.8132 49.9819C21.0951 53.2639 25.5462 55.1072 30.1875 55.1072C34.8288 55.1072 39.28 53.2639 42.562 49.9819C45.8438 46.7002 47.6875 42.2487 47.6875 37.6074V22.6074C47.6875 17.9661 45.8438 13.515 42.562 10.2331C39.28 6.95127 34.8288 5.10742 30.1875 5.10742C25.5462 5.10742 21.0951 6.95127 17.8132 10.2331C14.5314 13.515 12.6875 17.9661 12.6875 22.6074V37.6074Z' stroke='white' stroke-width='3.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M30.1875 15.1074V35.1074' stroke='white' stroke-width='3.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M37.6875 27.6074L30.1875 35.1074L22.6875 27.6074' stroke='white' stroke-width='3.75' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 61px;
    height: 61px;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 20;
    animation: scrollDown 2s ease-in-out infinite;
    transition: all .3s ease;

    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
    }
  }
}

@keyframes scrollDown {
  0% {
    bottom: 60px;
  }
  50% {
    bottom: 44px;
  }
  100% {
    bottom: 60px;
  }
}

.is-sticky {
    .c-hero__video:after {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media (max-width: 767px) {
  .is-sticky {
    .c-hero__video:before {
      opacity: .25;
    }
  }
  .c-hero__video:after {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
