@font: 'Object Sans', serif;
@fontAlt: 'Lora', serif;
@fontBannerSecond: 'Sansation', serif;
@fontBannerMain: 'Seravek', serif;

@color-red: #de1943;
@color-main: #000;
@color-dark: #222;
@color-gray: #B3B3B3;
@color-bg-gray: #ECECEC;

@max-width: 1280px;
@max-width-wide: 90%;
@indent: 40px;
@indentTablet: 30px;
@indentMobile: 20px;

@header_height: 60px;
@header_height_mobile: 50px;


@max-width-indent: calc(( 100% - @max-width ) / 2);
